{{!< default}} <!-- hero -->
    <section class="section valign-wrapper hero hero-1">
        <div class="center-align fullwidth white-text">
            <h3> VILLAS Theme</h3>
            <h1>About us</h1>
        </div>
    </section>


    <!-- section about us -->
    <section class="section white">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <h2 class="blue-text">Villas Theme</h4>
                        <p>Fusce dapibus hendrerit risus in placerat. Cras iaculis felis vitae semper finibus. Ut
                            convallis
                            viverra lacinia. Integer porttitor placerat venenatis. Integer posuere, orci at finibus
                            vestibulum, purus massa consequat elit, vel maximus risus felis in leo. Proin eget massa
                            vel
                            ipsum ornare vulputate. Etiam ante neque, pharetra eget urna vehicula, sagittis dignissim
                            eros.</p>

                        <p>Curabitur finibus augue in arcu auctor accumsan. Ut a magna convallis, vehicula velit sit
                            amet, pellentesque odio. </p>
                        <p>Fusce dapibus hendrerit risus in placerat. Cras iaculis felis vitae semper finibus. Ut
                            convallis
                            viverra lacinia. Integer porttitor placerat venenatis. Integer posuere, orci at finibus
                            vestibulum, purus massa consequat elit, vel maximus risus felis in leo. Proin eget massa
                            vel
                            ipsum ornare vulputate. Etiam ante neque, pharetra eget urna vehicula, sagittis dignissim
                            eros.</p>
                </div>

                <div class="col s12 m6">
                    <div id="carouselAbout" class="carousel carousel-slider" style="height:20px">
                        <a class="carousel-item" href="#one!"><img src="img/villa.jpg"></a>
                        <a class="carousel-item" href="#two!"><img src="img/villa2.jpg"></a>
                        <a class="carousel-item" href="#three!"><img src="img/villa3.jpg"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {{> villasCards}}
    {{> prefooter}}

