{{!< default}} 

    <!-- home slider -->
    <div id="carouselHome" class="carousel carousel-slider center parallax-container ">
        <div class="carousel-fixed-item center parallax">
            <a class="btn waves-effect blue white-text darken-text-2 round">Enquire Now</a>
        </div>
        <div class="carousel-item white-text valign-wrapper slides slide-1" href="#one!">
            <div class="fullwidth">
                <h3> Materialize Theme</h3>
                <h1>Villas Theme</h1>
                <p class="white-text">Theme developed with Materialize</p>
            </div>
        </div>
        <div class="carousel-item white-text valign-wrapper slides slide-2" href="#two!">
            <div class="fullwidth">
                <h2>Keystone.js and Express</h2>
                <p class="white-text">Developed with Node.js</p>
            </div>
        </div>
        <div class="carousel-item green white-text valign-wrapper slides slide-3" href="#three!">
            <div class="fullwidth">
                <h2>Third Panel</h2>
                <p class="white-text">This is your third panel</p>
            </div>
        </div>
    </div>


    {{>villasCards}}



    <!-- services -->
    <section class="section blue darken-2 ">
        <div class="center-align white-text title-header">
            <h3>villas Theme</h3>
            <h2>Our Services</h2>
        </div>

        <div class="row services ">
            <div class=" col s12 offset-m1 m10 l6">
                <div class="service">
                    <div class="service-color-line"></div>
                    <div class="service-icon">
                        <i class="small material-icons">filter_vintage</i>
                    </div>
                    <div class="service-text">
                        <h6>Service One</h6>
                        <p>Integer convallis nibh quis tincidunt hendrerit. Pellentesque scelerisque ultrices sollicitudin. Curabitur interdum volutpat massa et commodo. </p>
                    </div>
                </div>
            </div>

            <div class="col s12 offset-m1 m10 l6 ">
                <div class="service">
                    <div class="service-color-line"></div>
                    <div class="service-icon">
                        <i class="small material-icons">filter_vintage</i>
                    </div>
                    <div class="service-text">
                        <h6>Service Two</h6>
                        <p>Integer convallis nibh quis tincidunt hendrerit. Pellentesque scelerisque ultrices sollicitudin. Curabitur interdum volutpat massa et commodo. </p>
                    </div>
                </div>
            </div>

            <div class=" col s12 offset-m1 m10 l6 ">
                <div class="service">

                    <div class="service-color-line"></div>
                    <div class="service-icon">
                        <i class="small material-icons">filter_vintage</i>
                    </div>
                    <div class="service-text">
                        <h6>Service Three</h6>
                        <p>Integer convallis nibh quis tincidunt hendrerit. Pellentesque scelerisque ultrices sollicitudin. Curabitur interdum volutpat massa et commodo. </p>
                    </div>
                </div>
            </div>

            <div class="col s12 offset-m1 m10 l6 ">
                <div class="service valign-wrapper">
                    <div class="service-color-line"></div>
                    <div class="service-icon">
                        <i class="small material-icons">filter_vintage</i>
                    </div>
                    <div class="service-text">
                        <h6>Service Four</h6>
                        <p>Integer convallis nibh quis tincidunt hendrerit. Pellentesque scelerisque ultrices sollicitudin. Curabitur interdum volutpat massa et commodo.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- pre-footer -->
    {{> prefooter}}