{{!< default}} 

<!-- hero -->
    <section class="section valign-wrapper hero hero-1">
        <div class="center-align fullwidth white-text">
            <h3> Villas Theme</h3>
            <h1>VILLAS</h1>
        </div>
    </section>

 

    {{> villasCards}}

    {{> prefooter}}