   <!-- pre-footer -->

     <section class="section blue darken-3 row no-padding">
            <div class="col s12 l6 cta-left">
                <a href="contact">
                    <div class="cta center-align valign-wrapper">
                        <div class="fullwidth">
                            <div class="action-text">
                            <h4 class="blue-grey-text text-lighten-5">Do you have any question?</h4>
                            <h5 class="white-text">Contact us</h5>
                        </div>
                            <i class="material-icons circle medium white-text btn-a flip">play_circle_filled</i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col s12 l6 cta-right">
                <a href="about">
                    <div class="cta center-align valign-wrapper">
                        <div class="fullwidth">
                                <div class="action-text">
                            <h4 class="blue-grey-text text-lighten-5">Villas Theme</h4>
                            <h5 class="white-text">Learn More</h5>
                        </div>
    
                            <i class="material-icons circle medium white-text btn-a">play_circle_filled</i>
                        </div>
    
                    </div>
                </a>
    
            </div>
        </section>