 <!-- testemonials slider-->
    <div id="carouselTestemonials" class="carousel carousel-slider testemonial-slider blue">

        <h3 class="white-text"> Villas</h3>
        <h2 class="white-text">Testemonials</h2>


        <div class="carousel-item white-text testemonial-slide" href="#one!">
            <div class="container">
                <p class="white-text">Donec nulla sapien, dictum vel maximus nec, rhoncus vitae sem. Pellentesque dolor felis, suscipit non venenatis eu, commodo vel augue. Morbi eu facilisis est, nec consectetur ipsum. In ultrices lorem sit amet eleifend vehicula. Sed sit amet dictum ex, id venenatis est. </p>
                </p>
                <p class="white-text"><strong>Graham M.</strong></p>
            </div>
        </div>
        <div class="carousel-item white-text testemonial-slide" href="#two!">
            <div class="container">
                             <p class="white-text">Donec nulla sapien, dictum vel maximus nec, rhoncus vitae sem. Pellentesque dolor felis, suscipit non venenatis eu, commodo vel augue. Morbi eu facilisis est, nec consectetur ipsum. In ultrices lorem sit amet eleifend vehicula. Sed sit amet dictum ex, id venenatis est. </p>

                <p class="white-text"><strong>Graham M.</strong> </p>
            </div>
        </div>
        <div class="carousel-item white-text testemonial-slide" href="#three!">
            <div class="container">
                               <p class="white-text">Donec nulla sapien, dictum vel maximus nec, rhoncus vitae sem. Pellentesque dolor felis, suscipit non venenatis eu, commodo vel augue. Morbi eu facilisis est, nec consectetur ipsum. In ultrices lorem sit amet eleifend vehicula. Sed sit amet dictum ex, id venenatis est. 

                <p class="white-text"><strong>Graham M.</strong> </p>
            </div>
        </div>
    </div>